@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100vh;
    width: 100vw;
    background-image: url(../pacote-d013/imagens/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(../pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 23px;
    width: 266px;
    height: 471px;
}
section#redes{
    text-align: right;
}
section#redes img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
    box-sizing: border-box;
}
section#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.596);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.2s, border 0.2s;
}